<div class="container mt-4 p-2">
  <h2>Edit a new pet</h2>
  <%= simple_form_for @pet do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :species, collection: Pet::SPECIES %>
    <%= f.input :found_on %>
    <%= f.button :submit %>
  <% end %>
</div>
